/* Banner 1 */
.banner1 {background-image: linear-gradient(-220deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.5) 50%), url(../../images/background.jpg);
		 color: floralwhite;
		 padding: 50px 0px;
		 background-size: cover;
		 background-position: center;
		 margin: 0px auto;}

.banner1 h1 {font-size: 50px;}

.banner1 h2 {font-weight: lighter;
            font-size: 30px;
            opacity: 0.8;
            margin-bottom: 15px;}

.banner1 h3 {font-weight: lighter;
			 font-size: 20px;
			 opacity: 0.75;
			 margin-bottom: 30px;}


/* Banner 2 */
.banner2 {background-image: linear-gradient(120deg, rgba(255, 250, 240, 1) 0%, rgba(255, 250, 240, 1.0) 50%);
		 color: black;
		 padding: 50px 0px;
		 background-size: cover;
		 background-position: center;
		 margin: 0px auto;}

.banner2 h1 {font-size: 30px;}

.banner2 h2 {font-weight: lighter;
            font-size: 15px;
            opacity: 0.8;
            margin-top: 10px;
            margin-bottom: 40px;}

.banner2 a {color: #6D71DD;
   font-family: 'Cabin', sans-serif;
   font-weight: 600;
   text-decoration: none;}

.banner2 a:hover {color: #655D8A;
         text-decoration: underline;}

.banner2 .list-inline {list-style: none;
              padding-left: 0px;}

.banner2 .list-inline li {display: inline;
                 padding: 60px;}

.banner2 .list-inline i {font-size: 50px;}